@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
/*00aa00*/
/*333*/
.cur{
  animation: bl 1s infinite;
}
@keyframes bl {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.a{
  position: absolute;
  right: 220;
  margin-top: 5px;
}
.b{
  position: absolute;
  right: 110;
  margin-top: 5px;
}
.c{
  position: absolute;
  right: 0;
  margin-top: 5px;
}
.a:hover{
    text-decoration: underline;
}
.b:hover{
    text-decoration: underline;
}
.c:hover{
    text-decoration: underline;
}
html{
    color: #00aa00;
    background-color: #333;
    margin-top: 5px;
}
nav{
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;

}
.title{
  position: absolute;
  left: 0;
}
a{
  color: #00aa00;
  list-style-type: none;
  text-decoration: none;
  margin-right: 8px;
}
li{
  color: #00aa00;
  list-style-type: none;
  right: 1px;
  margin-right: 8px;
  text-decoration: none;

}
h3{
  font-weight: bold;
  margin-bottom: 1%;
  font-size: 1.25em;
  margin-top: 5px;
  /* text-align: center; */
}
.parag{
  margin-top: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 15pt;
    margin-top: 4px;
  }
}


@keyframes show {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.dnw{
  animation: 0.1s show;
  animation-fill-mode: forwards;
  opacity: 0;
}
.dnw:nth-child(1) {
  animation-delay: 1.5s;
}

.dnw:nth-child(2) {
  animation-delay: 2.2s;
}

.dnw:nth-child(3) {
  animation-delay: 2.3s;
}

.dnw:nth-child(4) {
  animation-delay: 2.4s;
}

.dnw:nth-child(5) {
  animation-delay: 2.5s;
}

.dnw:nth-child(6) {
  animation-delay: 2.6s;
}

.dnw:nth-child(7) {
  animation-delay: 2.7s;
}

.dnw:nth-child(8) {
  animation-delay: 2.8s;
}

.dnw:nth-child(9) {
  animation-delay: 2.9s;
}

.dnw:nth-child(10) {
  animation-delay: 3s;
}

.dnw:nth-child(11) {
  animation-delay: 3.1s;
}

.dnw:nth-child(12) {
  animation-delay: 3.2s;
}

.dnw:nth-child(13) {
  animation-delay: 3.3s;
}

.dnw:nth-child(14) {
  animation-delay: 3.4s;
}

.dnw:nth-child(15) {
  animation-delay: 3.5s;
}

.dnw:nth-child(16) {
  animation-delay: 3.6s;
}

.dnw:nth-child(17) {
  animation-delay: 3.7s;
}

.dnw:nth-child(18) {
  animation-delay: 3.8s;
}

li:nth-child(19) {
  animation-delay: 3.9s;
}

.dnw:nth-child(20) {
  animation-delay: 4s;
}

.dnw:nth-child(21) {
  animation-delay: 4.1s;
}

.dnw:nth-child(22) {
  animation-delay: 4.2s;
}

.dnw:nth-child(23) {
  animation-delay: 4.3s;
}

.dnw:nth-child(24) {
  animation-delay: 4.4s;
}

.dnw:nth-child(25) {
  animation-delay: 4.5s;
}

.dnw:nth-child(26) {
  animation-delay: 4.6s;
}

.dnw:nth-child(27) {
  animation-delay: 4.7s;
}

.dnw:nth-child(28) {
  animation-delay: 4.8s;
}

.dnw:nth-child(29) {
  animation-delay: 4.9s;
}

.dnw:nth-child(30) {
  animation-delay: 5s;
}

.dnw:nth-child(31) {
  animation-delay: 5.1s;
}

.dnw:nth-child(32) {
  animation-delay: 5.2s;
}

.dnw:nth-child(33) {
  animation-delay: 5.3s;
}

.dnw:nth-child(34) {
  animation-delay: 5.4s;
}
.dnw:nth-child(33) {
  animation-delay: 5.5s;
}

.dnw:nth-child(35) {
  animation-delay: 5.6s;
}
.dnw:nth-child(36) {
  animation-delay: 5.7s;
}
.dnw:nth-child(37) {
  animation-delay: 5.8s;
}

.dnw:nth-child(38) {
  animation-delay: 5.9s;
}
.dnw:nth-child(39) {
  animation-delay: 6s;
}
.dnw:nth-child(40) {
  animation-delay: 6.1s;
}
