@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
/*00aa00*/
/*333*/
.a{
  position: absolute;
  right: 220;
  margin-top: 5px;
}
.b{
  position: absolute;
  right: 110;
  margin-top: 5px;
}
.c{
  position: absolute;
  right: 0;
  margin-top: 5px;
}
.a:hover{
    text-decoration: underline;
}
.b:hover{
    text-decoration: underline;
}
.c:hover{
    text-decoration: underline;
}
html{
    color: #00aa00;
    background-color: #333;
    margin-top: 5px;
}
nav{
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;

}
.title{
  position: absolute;
  left: 0;
}
.cur{
  animation: bl 1s infinite;
}
@keyframes bl {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
a{
  color: #00aa00;
  list-style-type: none;
  text-decoration: none;
  margin-right: 8px;
}
li{
  color: #00aa00;
  list-style-type: none;
  right: 1px;
  margin-right: 8px;
  text-decoration: none;

}
h3{
  font-weight: bold;
  margin-bottom: 1%;
  font-size: 1.25em;
  /* text-align: center; */
}
.parag{
  margin-top: 40px;
  text-align: center;
}
.if{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.web{
    height: 80vh;
    width: 400px;
    margin: 10px;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 15pt;
    margin-top: 4px;
  }
}
